@page
@using StudentAccommodation_RazorPages.ViewModels
@model StudentAccommodation_RazorPages.Pages.Students.StudentRoomsModel
@{
}
<h1>List of StudentRooms</h1>
<h3>Amount of Student_Rooms @Model.StudentRooms.Count()</h3>
<h4>List of StudentRooms</h4>
<table class="table">
    <thead>
        <tr>
            <th>Room No</th>
            <th>Student Name</th>
            <th>Room Type</th>
            <th>Dorm No</th>
            <th>Start Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.StudentRooms != null)
        {
            @foreach (var studRoom in Model.StudentRooms)
            {
                <tr>
                    <td>@studRoom.RoomNo</td>
                    <td>@studRoom.StudentName</td>
                    <td>@studRoom.RoomType</td>
                    <td>@studRoom.DormitoryNo</td>
                    <th>@studRoom.DateString</th>
                </tr>
            }
        }
    </tbody>
</table>