@page
@using StudentAccommodation_RazorPages.ViewModels
@model StudentAccommodation_RazorPages.Pages.Leasings.GetLeasingsModel
@{
}
<h1>List of Leasings</h1>
<h3>Amount of Leasings @Model.Leasings.Count()</h3>
<h4>List of Leasings</h4>
<table class="table table-bordered table-striped">
    <thead  class="bg-primary">
    <tr>
        <th>Id</th>
        <th>Student No.</th>
        <th>Dorm No.</th>
        <th>Room No.</th>
        <th>Date Start</th>
        <th>Date End</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Leasings != null)
    {
        @foreach (var lease in Model.Leasings)
        {
            <tr>
                <td>@lease.Leasing_No</td>
                <td>@lease.Student_No</td>
                <td>@lease.Dormitory_No</td>
                <td>@lease.Room_No</td>
                <td>@lease.DateFromString</td>
                <td>@lease.DateToString</td>
            </tr>
        }
    }
    </tbody>
</table>