@page
@model StudentAccommodation_RazorPages.Pages.Dormitories.GetDormitoriesModel
@{
}
<h1>List of Dormitories</h1>
<h3>Amount of Dormitories @Model.Dormitories.Count()</h3>
<h4>List of Dormitories</h4>
<table class="table table-bordered table-striped">
    <thead  class="bg-primary">
    <tr>
        <th>Dorm no.</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Dormitories != null)
    {
        @foreach (var dorm in Model.Dormitories)
        {
            <tr>
                <td>@dorm.Dormitory_No</td>
                <td>@dorm.Name</td>
                <td>@dorm.Address</td>
                <td>
                    <a asp-page="/Rooms/GetRooms" asp-page-handler="DormRooms" asp-route-id="@dorm.Dormitory_No" class="text-info">Rooms for this dorm</a>
                </td>
                <td>
                    <a asp-page="/Students/StudentRooms" asp-page-handler="StudentsRooms" asp-route-id="@dorm.Dormitory_No" class="text-info">1st semester Student & Rooms</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<form method="post">
    <input asp-for="FilterCriteria" /> <select name="Semester" asp-for="Semester">
        <option value="1stSemester">Første Semester</option>
        <option value="2ndSemester">Andet Semester</option>
        <option value="3rdSemester">Tredje Semester</option>
        <option value="4thSemester">Fjerde Semester</option>
    </select> <button type="submit" class="btn btn-primary">Submit</button>
</form>