@page
@model StudentAccommodation_RazorPages.Pages.Dormitories.GetDormitoriesModel
@{
}
<h1>List of Dormitories</h1>
<form>
    <p>

    </p>
</form>
<h4>List of Dormitories</h4>
<table class="table">
    <thead>
    <tr>
        <th>Dorm no.</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Dormitories != null)
    {
        @foreach (var dorm in Model.Dormitories)
        {
            <tr>
                <td>@dorm.Dormitory_No</td>
                <td>@dorm.Name</td>
                <td>@dorm.Address</td>
                <td>
                    <a asp-page="/Rooms/GetRooms" asp-page-handler="DormRooms" asp-route-id="@dorm.Dormitory_No">Rooms for this dorm</a>
                </td>
                <td>
                    <a asp-page="/Students/StudentRooms" asp-page-handler="StudentsRooms" asp-route-id="@dorm.Dormitory_No">Students and their rooms</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>