@page
@model StudentAccommodation_RazorPages.Pages.Leasings.GetStudentLeasingsModel
@{
}
<h1>List of Students</h1>
@*<h3>Amount of Students @Model.LeaseStudents.Count()</h3>*@
<h4>List of Students</h4>
<table class="table table-bordered table-striped">
    <thead  class="bg-primary">
        <tr>
            <th>Dorm Name</th>
            <th>Room No</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Student Name</th>
            <th>Room Type</th>
            <th>Room Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LeaseStudents != null)
        {
            @foreach (var studLease in Model.LeaseStudents)
            {
                <tr>
                    <td>@studLease.DormName</td>
                    <td>@studLease.RoomId</td>
                    <td>@studLease.DateStartString</td>
                    <td>@studLease.DateEndString</td>
                    <td>@studLease.StudentName</td>
                    <td>@studLease.RoomTypes</td>
                    <td>@studLease.RoomPrice</td>
                </tr>
            }
        }
    </tbody>
</table>