@page
@model IndexModel
@{
    ViewData["Title"] = $"{@Model.CharInfo.name} - {@Model.CharInfo.guild.name}";
}
<head>
    <link rel="icon" href="@Model.CharSpecMedia" />
</head>
<form method="post">
    <div>
        <div>
            <label asp-for="@Model.SearchName"></label>
            <input asp-for="@Model.SearchName" />
            <span asp-validation-for="SearchName"></span>
        </div>
        <div>
            <label asp-for="@Model.SearchRealm"></label>
            <input asp-for="@Model.SearchRealm" />
            <span asp-validation-for="SearchRealm"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search!</button>
        </div>
    </div>
</form>
<header>
    <div>
        <h1>
            @Model.CharInfo.name - @Model.CharInfo.guild.name
        </h1>
    </div>
</header>
<body>
    <div>
        @if (Model.ImgStr != null)
        {
            <img src="@Model.ImgStr" style="width: 600px; height: 600px" />
        }
        else
        {
            <div>It's null</div>
        }
    </div>
</body>


@section scripts{
    <partial name="Shared/_ValidationScriptsPartial" />
}

