@page
@model IndexModel
@{
    ViewData["Title"] = "MediocoreGamer";
    <link rel="icon" href="@Model.SpecIcon" />
}

<form method="post">
    <div>
        <div>
            <label asp-for="@Model.SearchName"></label>
            <input asp-for="@Model.SearchName" />
            <span asp-validation-for="SearchName"></span>
        </div>
        <div>
            <label asp-for="@Model.SearchRealm"></label>
            <input asp-for="@Model.SearchRealm" />
            <span asp-validation-for="SearchRealm"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search!</button>
        </div>
    </div>
</form>

<header>
    <div>
        <h1>
            My Portfolio - @Model.SearchName
        </h1>
    </div>
</header>
<body>
    <div>
        @if (Model.ImgStr != null)
        {
            <img src="@Model.ImgStr" style="width: 600px; height: 600px" />
        }
        else
        {
            <div>It's null</div>
        }
    </div>
</body>


@section scripts{
    <partial name="Shared/_ValidationScriptsPartial" />
}

@*<img src="https://render.worldofwarcraft.com/eu/character/silvermoon/86/149529174-main-raw.png"/>*@
https://us.api.blizzard.com/profile/wow/character/tichondrius/charactername/appearance?namespace=profile-us&locale=en_US&access_token=USWQ8Y22PZH2nnZ1Qe4ZLRl3uvWHJRJbWu