@page
@model BigMammaUML3.Pages.MenuItems.CreatePizzaModel
@{
}
<h1>Create new Beverage</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.NewPizza.Number"></label>
        <input asp-for="@Model.NewPizza.Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPizza.Name"></label>
        <input asp-for="@Model.NewPizza.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPizza.Description"></label>
        <input asp-for="@Model.NewPizza.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPizza.Price"></label>
        <input asp-for="@Model.NewPizza.Price" class="form-control" />
    </div>

    <input type="checkbox" data-val="true" data-val-required="The IsChecked field is required." id="DeepPan" name="DeepPan" value="true">
    <input name="DeepPan" type="hidden" value="false">

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>