@page
@using BigMammaUML3.Models
@using System.Diagnostics.Eventing.Reader
@model BigMammaUML3.Pages.MenuItems.GetAllMenuItemsModel
@{
}


<h1>All Menu Items</h1>
<p>
    <a class="btn btn-primary" asp-page="CreateMenuItem">Create A Menu Item</a>
</p>
<form method="post" asp-page="GetAllMenuItemsModel">
    <input type="submit" value="Show All" asp-page-handler="ShowAll" class="btn btn-outline-dark"/>    <input type="submit" value="Deep Pan Pizzas" asp-page-handler="FindDeepPan" class="btn btn-outline-dark"/>
    <input type="submit" value="Most Expensive" asp-page-handler="MostExpensive" class="btn btn-outline-dark"/>    <input type="submit" value="Alcoholic Beverage" asp-page-handler="Alcoholic" class="btn btn-outline-dark"/>
    <div>
        Søg efter inventar:
        <input asp-for="SearchInput"/><input type="submit" value="Navn" asp-page-handler="NameSearch"/><input type="submit" value="Beskrivelse" asp-page-handler="DescriptionSearch" />
    </div>

</form>
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.MenuItems != null)
    {
        foreach (MenuItem menuItem in Model.MenuItems)
        {
            <tr>
                <td>
                    @menuItem.Number
                </td>
                <td>
                    @menuItem.Name
                </td>
                <td>
                    @menuItem.Description
                </td>
                <td>
                    @menuItem.Price,-
                </td>
                @if (menuItem is Beverage)
                {
                    <td>
                        @(((Beverage)menuItem).AlcoholicDescrip)
                    </td>
                }
                @if (menuItem is Pizza)
                {
                    <td>
                        @(((Pizza)menuItem).DeepPanDescription)
                    </td>
                }
                <td>
                    <p>
                        <a asp-page="EditMenuItem" asp-route-id="@menuItem.Number">Edit</a>
                    </p>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
